<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WindowsApplication1.Properties.Settings.strConn" connectionString="Data Source=sumon\SQLEXPRESS;Initial Catalog=sumon;User ID=sumon;Password=sumon123"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>